.author {
	$parent: &;

	&__main {
		display: inline-flex;
		align-items: center;
	}

	&__detail {
		flex-grow: 1;
		> * {
			display: block;
		}

		&:not(:first-child) {
			padding-left: var(--space-sm);
			text-align: left;
		}
	}

	&__name {
		font-weight: 600;
		text-decoration: none;

		&[href] {
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
	&__role {
		font-size: 85%;
	}
}
